.header {
  background-color: blueviolet;
  color: white;
  height: 9vh;
  text-align: center;
  padding-top: 1%;
}

.voter-login-form {
  background-color: whitesmoke;
  padding: 1%;
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px gray;
}

.link {
  text-decoration: none;
}

#left-side {
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px 2px gray;
  min-height: 600px;
  padding-left: 35px;
  padding-top: 25px;
  margin-top: 45px;
}

#right-side {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  min-height: 600px;
}