.header {
  background-color: blueviolet;
  color: white;
  height: 9vh;
  text-align: center;
  padding-top: 1%;
}

#left-side {
  margin-left: 3%;
  margin-top: 3%;
  border-right: 2px solid black;
}

.left-side-button {
  margin-left: 25%;
}

#right-side {
  margin-top: 3%;
}

#right-side, h3 {
  text-align: center;
}

#edit-profile {
  background-color: whitesmoke;
  box-shadow: 2px 5px 12px 2px gray;
  border-radius: 2%;
  padding: 15px;
}